# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build directories
cmake-build-debug/
cmake-build-release/

# Ignore CLion/IDE-specific files
.idea/
*.iml

# Ignore system files
.DS_Store
Thumbs.db